/**/*.egg-info/
/**/*.eggs/
/**/*.pyc
/**/*.pyo
/**/dist/
/ixc_django_docker/etc/nginx.conf
/ixc_django_docker/etc/nginx.htpasswd
/ixc_django_docker/etc/supervisord.conf
/ixc_django_docker/etc/supervisord.nginx-proxy.conf
