# This file should match `.gitignore`, with the exception that there should NOT
# be a leading forward slash on absolute patterns.
**/*.md5
**/*.orig
**/*.pyc
**/*.pyo
**/*.swp
**/*~
**/.coverage
**/.DS_Store
**/.python-version
**/npm-debug.log
**/pubring.gpg~
**/random_seed
**/requirements-local.txt
**/yarn-error.log
.env
.env.local
.gnupg/openpgp-revocs.d/
.gtm/
.idea/
bower_components/
docker-compose.override.yml
initial_data*.sql*
node_modules/
project_settings_local.py
static_root/
var/
