**/*.md5
**/*.orig
**/*.pyc
**/*.pyo
**/*.secret*
**/*.swp
**/.DS_Store
**/npm-debug.log
**/pubring.gpg~
**/random_seed
**/requirements-local.txt
.gnupg/gpg.conf
.idea/
bower_components/
docker-compose.override.yml
node_modules/
project_settings_local.py
static_root/
var/
